* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    padding-top: 1em;
    height: 99vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    color: #18CAE6;
    text-align: center;
}

.timer {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 5em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.start-work-time {
    float: left;
}

.start-break-time {
    float: right;
}

button {
    width: 6em;
}

.start-time {
    margin-top: 0.5em;
}

input {
    background-color: black;
    border: 1px solid #18CAE6;
    width: 2em;
    z-index: -10;
    text-align: center;
}


/*Removes arrows from input type=number*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
